{% load i18n %}
<div class="container">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-sx-1"><b>{% trans 'Paciente' %}:</b></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-sx-2">{{ patient.full_name }}</div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-sx-1"><b>{% trans 'Fecha del registro' %}:</b></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-sx-2">{{ record.created }}</div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-sx-1"><b>{% trans 'Tipo de registro' %}:</b></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-sx-2">{{ channel.get_type_display }}</div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-sx-1"><b>{% trans 'Tasa de muestreo' %}:</b></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-sx-2">{% blocktrans with channel.sampling_rate as sampling_rate %}{{ sampling_rate }} muestras por segundo{% endblocktrans %}</div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-sx-1"><b>{% trans 'Duración' %}:</b></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-sx-2">{{ channel.duration_str }}</div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-sx-1"><b>{% trans 'Hora de inicio' %}:</b></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-sx-2">{% if channel.start_date %}{{ channel.start_date }}{% else %}No disponible{% endif %}</div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-sx-1"><b>{% trans 'Hora de finalización' %}:</b></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-sx-2">{% if channel.end_date %}{{ channel.end_date }}{% else %}No disponible{% endif %}</div>
    </div>
</div>
<hr />
<div class="container">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-sx-1"><b>{% trans 'SDNN' %}:</b></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-sx-2">{{ channel.SDNN|floatformat:2 }}</div>
    </div>
</div>