#patient-panel {
    padding-top: 15px;
    overflow: hidden;
}

#personal {

}

#id_id_card_number {
    width: 115px;
}

#patient_picture {
    width: 150px;
}

#actions a {
    display: inline-block;
    margin: 2px;
}