appdirs==1.4.3
backports.shutil-get-terminal-size==1.0.0
cycler==0.9.0
decorator==4.0.11
Django==1.10.1
django-cities==0.4.2
django-extensions==1.7.8
enum34==1.1.6
fake-factory==0.5.3
fpdf==1.7.2
ipython==5.3.0
ipython-genutils==0.2.0
Jinja2==2.8
MarkupSafe==0.23
matplotlib==1.5.0
numpy==1.10.1
packaging==16.8
pathlib2==2.2.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==3.0.0
prompt-toolkit==1.0.14
psycopg2==2.6.1
ptyprocess==0.5.1
Pygments==2.2.0
pyparsing==2.0.5
python-dateutil==2.4.2
pytz==2015.7
reportlab==3.3.0
rope==0.10.3
scandir==1.5
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
wcwidth==0.1.7
