cffi==1.1.2
Django==1.8.3
django-cities==0.4.1
django-extensions==1.5.5
fake-factory==0.5.2
greenlet==0.4.7
Jinja2==2.8
MarkupSafe==0.23
Pillow==2.9.0
psycopg2cffi==2.7.1
readline==6.2.4.1
six==1.9.0
