{% load i18n %}
{% load l10n %}
<div class="row">
    <div class="col-lg-3">
        <b>{% trans 'Fecha de ingreso' %}:</b>
    </div>
    <div class="col-lg-6">
         {{ patient.first_history.date|localize }}
    </div>
    <p></p>
    <div class="col-lg-3">
        <b>{% trans '&Uacute;ltima consulta' %}:</b>
    </div>
    <div class="col-lg-6">
         {{ patient.last_history.date|localize }}
    </div>
    <p></p>
    <div class="col-lg-3">
        <b>{% trans 'Ocupaci&oacute;n' %}:</b>
    </div>
    <div class="col-lg-6">
         {{ patient.occupation.name|escape }}
    </div>
    <p></p>
    <div class="col-lg-3">
        <b>{% trans 'Antecedentes personales' %}:</b>
    </div>
    <div class="col-lg-6">
    {% if patient.personal_records.all %}
         <ul>
             {% for record in patient.personal_records.all %}
             <li>
                {{ record.name|escape }}
             </li>
             {% endfor %}
         </ul>
    {% else %}
        {% trans 'No' %}
    {% endif %}
    </div>
    <p></p>
    <div class="col-lg-3">
        <b>{% trans 'Antecedentes familiares' %}:</b>
    </div>
    <div class="col-lg-6">
    {% if patient.family_records.all %}
         <ul>
             {% for record in patient.family_records.all %}
             <li>
                {{ record.name|escape }}
             </li>
             {% endfor %}
         </ul>
    {% else %}
        {% trans 'No' %}
    {% endif %}
    </div>
    <p></p>
    <div class="col-lg-3">
        <b>{% trans 'H&aacute;bitos personales' %}:</b>
    </div>
    <div class="col-lg-6">
    {% if patient.habits.all %}
         <ul>
             {% for record in patient.habits.all %}
             <li>
                {{ record.name|escape }}
             </li>
             {% endfor %}
         </ul>
    {% else %}
        {% trans 'No' %}
    {% endif %}
    </div>
</div>
