{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_static %}
    <link rel="stylesheet" href="{% static "css/patient_detail.css" %}"/>
    <script src="{% static "js/patient_detail.js" %}"></script>
    {% if form %}
        <link rel="stylesheet" href="{% static "bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.standalone.min.css" %}"/>
        <script src="{% static "bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js" %}"></script>
        {% with 'bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.'|add:request.LANGUAGE_CODE|add:'.min.js' as datepicker_lang %}
            <script src="{% static datepicker_lang %}"></script>
        {% endwith %}
        <script>
        language = "{{ request.LANGUAGE_CODE }}"
        </script>
        <script src="{% static "js/patient_form.js" %}"></script>
    {% endif %}
{% endblock %}
{% block breadcrumbs %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="{% url 'patient_list' %}">{% trans 'Pacientes' %}</a></li>
                    {% if form %}
                        {% if form.instance.id %}
                            <li><a href="{% url 'patient_detail' patient.id %}">{{ patient.full_name|escape }}</a></li>
                            <li class="active">{% trans 'Editar' %}</li>
                        {% else %}
                            <li class="active">{% trans 'Nuevo' %}</li>
                        {% endif %}
                    {% else %}
                    <li class="active">{{ patient.full_name|escape }}</li>
                    {% endif %}
                </ol>
            </div>
        </div>

    </div>
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <div role="tabpanel" id="tabs">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">{% trans 'Datos personales' %}</a></li>
                    <li role="presentation"><a href="#clinics" aria-controls="clinics" role="tab" data-toggle="tab">{% trans 'Datos clínicos' %}</a></li>
                </ul>
                <div id="patient-panel">
                    {% if form %}
                        <form action="{% if form.instance.id %}{% url 'patient_detail' form.instance.id %}{% else %}{% url 'patient_list' %}{% endif %}" method="post" class="form-inline">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="fade in alert alert-dismissible text-center alert-danger" id="fail_alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="{% trans 'Cerrar' %}"><span aria-hidden="true">&times;</span></button>
                                {% trans 'Hay errores en los datos suministrados' %}
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="{% if message.tags %}{{ message.tags }} {% endif %}fade in alert alert-dismissible text-center" id="success_alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="{% trans 'Cerrar' %}"><span aria-hidden="true">&times;</span></button>
                                {% autoescape off %}
                                {{ message }}
                                {% endautoescape %}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div id="patient_picture">
                                {% if patient.picture %}
                                    <img src="{{ MEDIA_URL }}{{ patient.picture }}" alt="photo" height="150px" width="150px"/>
                                {% else %}
                                    <img src="http://placehold.it/150x150" alt="photo" height="150px" width="150px"/>
                                {% endif %}
                            {% if not form %}
                                <a href="{% url 'patient_edit' patient.id %}" title="{% trans "Editar paciente" %}" data-toggle="tooltip" data-placement="bottom"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                            {% endif %}
                            </div>

                        </div>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="personal" role="tabpanel">
                                {% if form %}
                                {% include 'patient_personal_data_form.html' %}
                                {% else %}
                                {% include 'patient_personal_data.html' %}
                                {% endif %}
                            </div>
                            <div class="tab-pane fade" id="clinics" role="tabpanel">
                                {% if form %}
                                {% include 'patient_clinical_data_form.html' %}
                                {% else %}
                                {% include 'patient_clinical_data.html' %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% if form %}
                </form>
                {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
