{% load i18n %}
{% load l10n %}
{% autoescape on %}
<div class="row">
    <div class="col-lg-7 col-sm-7 col-md-7 col-xs-6">
        <p class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <b>{% trans 'Ocupaci&oacute;n' %}:</b>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6{% if form.occupation.errors %} has-error{% endif %}">
                <select id="id_occupation" name="occupation" class="form-control">
                {% for value, text in form.occupation.field.choices %}
                    <option value="{{ value }}"{% if form.occupation.value == value %} selected="selected"{% endif %}>{{ text }}</option>
                {% endfor %}
                </select>
            </div>
        </p>
        <p class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <b>{% trans 'Antecedentes personales' %}:</b>
            </div>
        </p>
        <p class="row">
            <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-5 col-md-5 col-sm-5">
                <i>{% trans 'H&aacute;bitos' %}:</i>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6{% if form.habits.errors %} has-error{% endif %}">
                {{ form.habits }}
            </div>
        </p>
        <p class="row">
            <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-5 col-md-5 col-sm-5">
                <i>{% trans 'Patológicos' %}:</i>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6{% if form.personal_record.errors %} has-error{% endif %}">
                <textarea name="personal_record" class="form-control" id="id_personal_record" cols="30" rows="10">{{ form.personal_record.value }}</textarea>
            </div>
        </p>
        <p class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <b>{% trans 'Antecedentes familiares' %}:</b>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6{% if form.family_record.errors %} has-error{% endif %}">
                 <textarea name="family_record" class="form-control" id="id_family_record" cols="30" rows="10">{% if form.family_record.value %}{{ form.family_record.value }}{% endif %}</textarea>
            </div>
        </p>
    </div>
</div>
<p class="row">
    <div class="col-lg-11" align="center">
        <button id="btn_save" class="btn btn-primary pull-right" type="submit">{% trans 'Guardar' %}</button>
    </div>
</p>
{% endautoescape %}
