{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_static %}
    <link rel="stylesheet" href="{% static "css/patient_detail.css" %}"/>
{% endblock %}
{% block breadcrumbs %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="{% url 'patient_list' %}">Pacientes</a></li>
                    <li class="active">Pedro P&eacute;rez</li>
                </ol>
            </div>
        </div>

    </div>
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div id="patient_picture">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
