{% extends "actions/patient_action_bulk_base.html" %}
{% load i18n %}
{% load l10n %}
{% load search_parameters %}
{% block title %}
    {% trans 'Estadísticas de pacientes' %}
{% endblock %}

{% block breadcrumbs %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="{% url 'patient_list' %}">{% trans 'Pacientes' %}</a></li>
                    <li class="active">{% trans 'Estadísticas' %}</li>
                </ol>
            </div>
        </div>

    </div>
{% endblock %}


{% block question_block %}
    <h3 align="center" class="panel-title">{% trans 'Parámetros' %}</h3>
{% endblock %}

{% block action_form %}
    <form action="{% url 'patients_action_stats' %}" method="post" class="form-inline">
        <p align="center">
            {% csrf_token %}
            <label for="id_stat_type">{% trans 'Tipo de estadística' %}</label>
            <select name="stat_type" id="id_stat_type" class="form-control">
                <option value="media">{% trans 'Media' %}</option>
                <option value="std_dev">{% trans 'Desviación Estándar' %}</option>
            </select>
            <button type="submit" class="btn btn-danger">{% trans 'Generar' %}</button>
            {% add_post_params_hidden 'csrfmiddlewaretoken' 'action' %}
        </p>
    </form>
{% endblock %}